html {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-image: url("https://cdn.shopify.com/s/files/1/1075/6980/files/cory_1024x1024.jpg?v=1505133222");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


.cards-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.card {
    place-self: center;
    width: 250px;
    height: 330px;
    border: 1px solid black;
    border-radius: 5%;
    text-align: center;
    font-style: oblique;
    background: white;
    box-shadow: 1px 5px 5px;
    font-size: large;
    padding: 5px;
}
