*, *::after, *::before {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.cards-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.card {
    place-self: center;
    width: 250px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5%;
    text-align: center;
    background: white;
    box-shadow: 1px 5px 5px;
    font-size: large;
    padding: 5px;
}


.sneakers-title{ 
    font-weight: bold;
    font-size: 20em;
    color: green;
}